<!DOCTYPE html>
<html>

<head>
    <title>Subscriptiom form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>

<body>
    <!-- main -->
    <div class="main-w3layouts wrapper">
        <h1>Get daily Mandi prices and weather info</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form action="/login" method="post">
                    <input class="text" type="text" name="name" placeholder="Enter ur Name" required="">
                    <br>
                    <input class="text" type="text" name="mono" placeholder="Enter ur MoNo" required="">
                    <br>
                    <input class="text" type="text" name="address" placeholder="Address" required="">
                    <br>
                    <input class="number" type="text" name="pincode" placeholder="Pincode" required="">
                    <br>

                    <span>Which services do u want to subscribe</span>
                    <br>

                    <input type="checkbox" id="vehicle1" name="commodity" value="commodity">
                    <label for="vehicle1" class="text"> Commodities Price</label><br>
                    <input type="checkbox" id="vehicle2" name="weather" value="weather">
                    <label for="vehicle2"> Weather info</label><br>
                    <!-- <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> 3rd One</label><br> -->
                    <br>
                    <div class="wthree-text">
                        <label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
                        <div class="clear"> </div>
                    </div>
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
        <!-- copyright -->
        <div class="colorlibcopy-agile">
        </div>
        <!-- //copyright -->
        <ul class="colorlib-bubbles">
            <li></li>

            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- //main -->
</body>

</html>